footer, header{
    display: flex;
    justify-content:space-around;
    background-color: rgba(144, 144, 144, 0.266);
}

.form-eltern{
    display: flex;
    justify-content: space-around;
    margin: 0%;
    padding: 0%;
    text-align: center;
}

.form-1{
    width: 45%;
}


header img{
    padding: 20pt;
}